<div class="container">
    <div class="row m-4">
        <div class="col-12">
            <div class="login-card-light p-3 shadow-lg rounded">
                <div class="pt-3">
                    <h2 class="text-success">Creator</h2>
                </div>
                <form class="mt-4 d-grid gap-1">
                    <div class="form-group">
                        <input
                            type="email"
                            class="form-control form-control-sm"
                            placeholder="Thema..." />
                    </div>
                    <div class="form-group">
                        <input
                            type="password"
                            class="form-control form-control-sm"
                            placeholder="Frage..." />
                    </div>
                    <div class="form-group">
                        <input
                            type="password"
                            class="form-control form-control-sm"
                            placeholder="Antwort..." />
                    </div>
                    <div class="form-group">
                        <input
                            type="password"
                            class="form-control form-control-sm"
                            placeholder="Antwort..." />
                    </div>
                    <div class="form-group">
                        <input
                            type="password"
                            class="form-control form-control-sm"
                            placeholder="Antwort..." />
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-sm btn-success col-12">
                            Speichern
                        </button>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-sm btn-danger col-12">
                            Löschen
                        </button>
                    </div>
                    <div class="mt-5">
                        <p class="text-center">
                            Ist dein Quiz komplett?
                            <a href="#register-form">Hier ansehen</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
