.login-card-light {
    background: linear-gradient(145deg, #eee, #fff);
}

body {
    font-size: 13px;
}
h2.text-white,
h2.text-danger {
    font-size: 28px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
